  <style>
    .nav-link{
      color: rgb(166, 234, 232) !important;
    }
  </style>  
    
    
    
    
    <nav class="navbar navbar-dark  fixed-top" style="background-color:  rgb(47, 15, 17);">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Logo</a>  -->
          <button   class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color:  rgba(219,205,218,0.100); width: 20%;">
            <div class="offcanvas-header" style="color: rgb(147, 178, 90);">
              <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><b>🙏 Namaste, Green Hero!</b></h3>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home/">
                    
                    <i class="fas fa-home"></i>  Home</a>
                </li>
              
        
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/my_product/">My Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/add_product/">Add Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/edit_profile/">Edit Profile</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Link2</a>
                </li> -->



                
                <li class="nav-item">
 <a class="nav-link active" aria-current="page" href="/farmer_logout/">Logout</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Dropdown</b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Link1</a></li>
                    <li><a class="dropdown-item" href="#">Link2</a></li>
                    <li><a class="dropdown-item" href="#">Link3</a></li>
                    <li><a class="dropdown-item" href="#">Link4</a></li>
                    
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    
                  </ul>
                </li> -->
              </ul>
             <!--  <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
    </div>
      </nav>

